includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src/console/src
        - src/database/src
        - src/error-handler/src
        - src/event-dispatcher/src
        - src/foundation/src
        - src/http-kernel/src
        - src/logger/src
        - src/routing/src
        - src/view/src

    excludePaths:
        analyse:
            - src/thirdparty
        analyseAndScan:
            - src/broken
            # - */tests/*

    # The level 9 is the highest level
    level: 6

    ignoreErrors:
        - '#PHPDoc tag @var#'

    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: false
    # tmpDir: build/phpstan
    # editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    # checkModelProperties: true
    # checkOctaneCompatibility: true
