<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Coole Test Suite">
            <directory suffix="Test.php">./src/config/tests</directory>
            <directory suffix="Test.php">./src/console/tests</directory>
            <directory suffix="Test.php">./src/db/tests</directory>
            <directory suffix="Test.php">./src/error-handler/tests</directory>
            <directory suffix="Test.php">./src/event/tests</directory>
            <directory suffix="Test.php">./src/foundation/tests</directory>
            <directory suffix="Test.php">./src/http-kernel/tests</directory>
            <directory suffix="Test.php">./src/invoker/tests</directory>
            <directory suffix="Test.php">./src/log/tests</directory>
            <directory suffix="Test.php">./src/routing/tests</directory>
            <directory suffix="Test.php">./src/view/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/config/src</directory>
            <directory suffix=".php">./src/console/src</directory>
            <directory suffix=".php">./src/db/src</directory>
            <directory suffix=".php">./src/error-handler/src</directory>
            <directory suffix=".php">./src/event/src</directory>
            <directory suffix=".php">./src/foundation/src</directory>
            <directory suffix=".php">./src/http-kernel/src</directory>
            <directory suffix=".php">./src/invoker/src</directory>
            <directory suffix=".php">./src/log/src</directory>
            <directory suffix=".php">./src/routing/src</directory>
            <directory suffix=".php">./src/view/src</directory>
            <exclude>
                <file>src/config/src/ConfigServiceProvider.php</file>
                <file>src/config/src/Config.php</file>

                <directory>src/console/src/Commands/</directory>
                <file>src/console/src/Application.php</file>
                <file>src/console/src/Command.php</file>
                <file>src/console/src/ConsoleServiceProvider.php</file>

                <directory>src/db/src/Facades</directory>
                <file>src/db/src/Model.php</file>
                <file>src/db/src/DBServiceProvider.php</file>

                <file>src/error-handler/src/ErrorHandlerServiceProvider.php</file>

                <file>src/event/src/Event.php</file>
                <file>src/event/src/EventServiceProvider.php</file>
                <file>src/event/src/ListenerInterface.php</file>

                <directory>src/foundation/src/Able</directory>
                <directory>src/foundation/src/Exceptions</directory>
                <directory>src/foundation/src/Facades</directory>
                <directory>src/foundation/src/Listeners</directory>
                <directory>src/foundation/src/Middlewares</directory>
                <file>src/foundation/src/AppServiceProvider.php</file>
                <file>src/foundation/src/helpers.php</file>

                <file>src/http-kernel/src/Controller/Controller.php</file>
                <file>src/http-kernel/src/Controller/ControllerResolver.php</file>
                <file>src/http-kernel/src/HttpKernelServiceProvider.php</file>

                <directory>src/invoker/src/Facades</directory>
                <file>src/invoker/src/helpers.php</file>
                <file>src/invoker/src/InvokerServiceProvider.php</file>

                <directory>src/log/src/Facades</directory>
                <file>src/log/src/LogServiceProvider.php</file>

                <directory>src/routing/src/Facade</directory>
                <file>src/routing/src/RoutingServiceProvider.php</file>

                <directory>src/view/src/Facade</directory>
                <file>src/view/src/ViewServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>