<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Coole Test Suite">
            <directory suffix="Test.php">./src/tests</directory>
            <directory suffix="Test.php">./src/config/tests</directory>
            <directory suffix="Test.php">./src/console/tests</directory>
            <directory suffix="Test.php">./src/db/tests</directory>
            <directory suffix="Test.php">./src/error-handler/tests</directory>
            <directory suffix="Test.php">./src/event/tests</directory>
            <directory suffix="Test.php">./src/foundation/tests</directory>
            <directory suffix="Test.php">./src/http-kernel/tests</directory>
            <directory suffix="Test.php">./src/invoker/tests</directory>
            <directory suffix="Test.php">./src/log/tests</directory>
            <directory suffix="Test.php">./src/routing/tests</directory>
            <directory suffix="Test.php">./src/view/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Coole/</directory>
            <exclude>
                <directory>src/Coole/Able/</directory>
                <file>src/Coole/Console/Command.php</file>
                <file>src/Coole/Console/Application.php</file>
                <file>src/Coole/Console/ConsoleServiceProvider.php</file>
                <directory>src/Coole/Console/Commands/</directory>
                <file>src/Coole/Controller/Controller.php</file>
                <file>src/Coole/Controller/ControllerInterface.php</file>
                <file>src/Coole/Controller/ControllerResolver.php</file>
                <file>src/Coole/Database/Model.php</file>
                <file>src/Coole/Event/ListenerInterface.php</file>
                <file>src/Coole/Routing/RoutingServiceProvider.php</file>
                <directory>src/Coole/Exception/</directory>
                <directory>src/Coole/Listener/</directory>
                <directory>src/Coole/Middleware/</directory>
                <directory>src/Coole/Provider/</directory>
                <directory>src/Coole/Facade/</directory>
                <directory>src/Coole/Support/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>