<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Guanguans Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Coole/</directory>
            <exclude>
                <directory>src/Coole/Able/</directory>
                <file>src/Coole/Console/Command.php</file>
                <directory>src/Coole/Console/Commands/</directory>
                <file>src/Coole/Controller/Controller.php</file>
                <file>src/Coole/Controller/ControllerInterface.php</file>
                <file>src/Coole/Database/Model.php</file>
                <file>src/Coole/Event/ListenerInterface.php</file>
                <directory>src/Coole/Exception/</directory>
                <directory>src/Coole/Facade/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>